<!-- Device card -->
<div class="device-item-container">
  <!-- Device color -->
  <div
    class="device-item-container-left"
    [style]="'background-color:' + deviceItem.color + ';'"
  >
  </div>
  <div class="device-item-container-right">
    <!-- <div class="device-name">{{ data.name }}</div> -->
    <!-- Device detail - header -->
    <div *ngIf="!this.deviceItem.toAdd" class="device-detail-header">              
      <!-- Device detail - status  -->
      <div class="device-detail-status">
        <ng-container *ngIf="deviceItem.status === 0">
          <app-status [type]="'offline'"></app-status>
        </ng-container>
        <ng-container *ngIf="deviceItem.status === 1">
          <app-status [type]="'active'"></app-status>
        </ng-container>
        <ng-container *ngIf="deviceItem.status === 2">
          <app-status [type]="'away'"></app-status>
        </ng-container>
      </div>
      <!-- Device detail - creation time -->
      <div class="device-detail-creation-time">
        <i 
          class="creation-time-icon"
          nz-icon
          nz-tooltip
          nzTooltipTitle="Creation time"
          nzType="clock-circle"
          nzTheme="outline"
        ></i>
        {{ fromUTCDatabaseToLocalClient(deviceItem.createTime) }}
      </div>
      <!-- Device detail - chechbox -->
      <div class="device-detail-checkbox">
        <label nz-checkbox [ngModel]="this.deviceItem.isSelected" (nzCheckedChange)="onSelectedChange()"></label>
      </div>
    </div>
    <!-- Device detail - body -->
    <div class="device-detail-body">
      <!-- Device detail - uuid -->
      <div *ngIf="!this.deviceItem.toAdd" class="device-detail-uuid">
        <!-- Device detail - qrcode -->
        <div class="device-detail-uuid-qrcode">
          <!-- <div nz-row class="edit-device-settings">
            <div class="edit-device-settings-title">uuid</div>
          </div> --> 
          <qrcode
            [qrdata]="deviceItem.id"
            [width]="10"
            [scale]="3"
            [errorCorrectionLevel]="'M'"
          ></qrcode>
        </div>
        <!-- Device detail - show uuid button -->
        <div class="device-detail-uuid-button">
          <button
            class="uuid-button"
            nz-button
            nz-popover
            nzPopoverTitle="UUID"
            [nzPopoverContent]="uuidPopover"
            nzPopoverTrigger="click"
          >Show UUID</button>
          <ng-template #uuidPopover>
            <span nz-text><code>{{ deviceItem.id }}</code></span>
          </ng-template>
        </div>
      </div>
     
      <!-- Device detail - settings -->
      <div class="device-detail-settings">
        <ng-container *ngIf="!this.deviceItem.isEdited; else deviceEditTpl">
          <!-- Device detail - settings row name -->
          <div class="device-detail-settings-row">
            <!-- Device detail - settings row title -->
            <div class="device-detail-settings-row-title">name</div>
            <!-- Device detail - settings row value -->
            <div class="device-detail-settings-row-value">{{ deviceItem.name }}</div>
          </div>
          <!-- Device detail - settings row interval (ms)-->
          <div class="device-detail-settings-row">
            <!-- Device detail - settings row title -->
            <div class="device-detail-settings-row-title">interval (ms)</div>
            <!-- Device detail - settings row value -->
            <div class="device-detail-settings-row-value">{{ deviceItem.interval }}</div>
          </div>
          <!-- Device detail - settings row route color -->
          <div class="device-detail-settings-row">
            <!-- Device detail - settings row title -->
            <div class="device-detail-settings-row-title">route color</div>
            <!-- Device detail - settings row value -->
            <div class="device-detail-settings-row-value">{{ deviceItem.color }}</div>
          </div>
        </ng-container>
        <ng-template #deviceEditTpl>
          <app-device-detail-input
            [device]="mapDevice(this.deviceItem)"
            (deviceChange)="onSaveEdit()"
          ></app-device-detail-input>
        </ng-template>

        
        <!-- Device detail - settings row edit buttons-->
        <div class="device-detail-settings-row">
          <div class="device-detail-settings-edit-buttons">
            <ng-container *ngIf="!this.deviceItem.isEdited; else saveTpl">
              <a class="device-detail-settings-edit-button" (click)="onEdit()">
                <i
                  nz-icon
                  nz-tooltip
                  nzTooltipTitle="Edit"
                  nzType="edit"
                ></i>
              </a>
            </ng-container>
            <ng-template #saveTpl>
              <a class="device-detail-settings-save-button" (click)="onSaveEdit()">
                <i
                  nz-icon
                  nz-tooltip
                  nzTooltipTitle="Save"
                  nzType="check"
                ></i>
              </a>
              <a class="device-detail-settings-cancel-button" nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="onCancelEdit()">
                <i
                  nz-icon
                  nz-tooltip
                  nzTooltipTitle="Cancel"
                  nzType="close"
                ></i>
              </a>
            </ng-template>
          </div>                
        </div>
      </div>
    </div>
  </div>
</div>