.user-content {
    margin: 24px 40px;
    background: #fff;
    min-height: 400px;
}

.form-group {
    padding: 30px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

.form-group-divider {
    height: 30px;
}