.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 3px 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.logo-icon {
  height: 34px;
  background: rgba(255, 255, 255, 0.2);
  font-size: 27px;
  margin-top: 10px;
  margin-right: 7px;
}

.logo-title {
  height: 34px;
  background: rgba(255, 255, 255, 0.2);
  font-size: 20px;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-breadcrumb {
  margin: 0px;
}

.nz-form-item {
  margin-right: 16px;
  margin-bottom: 8px;
}

nz-footer {
  text-align: center;
}